.our-clients-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;
}

.job-title {
    font-size: 16px;
    line-height: 1.18;    
    text-align: center;
    color:var(--secondary-color);
    letter-spacing: 0.03em;  
}
.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
          
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}